/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    width: 100%; 
    height: 740px;
    padding-top: 30px;
    position:relative;
    background-image: url(../images/bgimage.png);
    background-size: cover;
}
.container{
    width: 75%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    text-align: right;
}
.navlinks ul li{
    display: inline-block;
    padding:20px
}
.navlinks ul li a{
    color: #737373;
    text-decoration: none;
    font-size: 16px;
}
.section-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-one-one{
    display: flex;
    flex-direction: column;
}
.section-text{
    font-size: 81px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.section-subtext{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 30px; 
    padding: 10px;
}
.button1{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}
.bt-one{
    width: 175px;
    height: 48px; 
    background: #00A0C1;
    border-radius: 37px;
    color: white;
    border-color: transparent;
    font-family: 'Montserrat';
}
.bt-two{
    box-sizing: border-box;
    width: 175px;
    height: 48px;
    text-align: center;
    color: #00A0C1;
    background-color: transparent;
    border: 1px solid #00A0C1;
    border-radius: 37px;
    font-family: 'Montserrat';
}
.section-form{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
}
.form-head {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.1px;
    width: 243px;
    height: 45px;
    color: #252b42;
}
.form-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
}
.form-content label{
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: #252B42;
}
input{
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    height: 30px; 
    padding: 0px 15px;  
}
.form-content ::placeholder{
    color: #737373;
    font-family: 'Montserrat';
    font-size: 12px;
}
::placeholder{
    color: #BDBDBD;
    padding:0px 5px;
}
select{
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    color: #737373;
    border-radius: 4px;
    height: 32px;
    width: 223px;
    font-family: 'Montserrat';
    font-size: 12px;
    padding: 0px 15px;
}
.contactus-form select{
    color: #BDBDBD;
    padding: 0px 0px;
}
.contactus-form input{
    padding: 0px 0px;
    font-family: 'Montserrat';
    font-size: 12px;
}
.form-btn{
    width: 223px;
    height: 53px;
    background: #FFA62B;
    border-radius: 5px;
    border: #FFA62B;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Montserrat';

}
.head{
    width: 55%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
.section-two-head .heading{
    margin-top: 30px;
}
.section-two-head .sub-heading{
    margin-bottom: 45px;
}
.card-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.card-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
}
.card-head{
    width:330px;
    border-radius: 10px;
    background: #D9EDFF;
}
.card-head i{
    color: #FFA62B;
    background: white;
    border-radius: 50%;
    padding: 30px;
    margin: 20px;
    width: 37px;
    height: 32px;
    text-align: center;
}
.card-content{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
    border-radius: 11px;
    padding: 30px;
    align-items: center;
}
h6{
    width: 191px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.card-content h6 a{
    color: #FFA62B;
    text-decoration: none;
}
.section-three{  
    background: #FAFAFA;
    height:400px;
}
.section-three .head{
    text-align: center;

}
.heading{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-top: 50px;

}
.sub-heading{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;

    padding: 20px;
}
.sec3-part-two{
    background-color: #252b42;
}
.video-image{
    position: relative;
    text-align: center;
    bottom: 85px;
}
video{
    width: 75%;
    height: 400px;
}
.section-four{
    background: #F3F3F3;
}
.section-four .card-one{
    background: #FFFFFF;
    border: #d8e1e2 solid 1px;
    border-radius: 10px;
    padding: 35px 22px;
}
.section-four .card-one i{
    color: #FFA62B; 
}
.section-four h6{
    width:230px;
    padding: 0;
    background-color: transparent;
    margin-top: 10px
}
.section-four img{
    padding: 10px;   
}
.girl-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 265px;
    height: 50px;
}
.girl-icon span{
    color: #FFA62B;
}
h5{
    padding-left: 100px;
}
.section-five{
    background-color:#FFFFFF;
}
.section-five .card-one{
    width: 328px;
    height: 373px; 
    border: 1px solid #afdfec;
}
.team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 5px;
    width: 232px;
    height: 142px;
}
.team-content h6{
    text-align: center;
    font-size: 12px;
}
.team-content i{
    color: #00A0C1;
}
.section-six{
    background: #FAFAFA;   
}
.sec-six-one{
    background-image: url("../images/sec-6_bg\(4\).png");
    background-size: cover;
}
.section-six .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
} 
.section-contactus{
    display: flex;
    flex-direction: column;
}
.section-contactus h6{
    padding: 0px;
    color: #252B42;
}
.section-contactus .heading{
    text-align: left;
    padding: 0px;
}
.contactus-form{
    display: flex;
    flex-direction: column;
}
.form-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.form-inputs input{
    width: 279px;
    height: 40px;
}
.form-inputs select{
    width: 281px;
    height: 45px;
}
textarea{
    box-sizing: border-box;
    width: 583px;
    height: 123px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: #BDBDBD;
}
.subcontainer{
    margin: auto;
    width:75%;
}
.subcontainer h1{
    text-align: start;
    padding: 0px;
}
.subcontainer h6{
    padding: 0px 0px;
    width: 295px;
}
.sub-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}
.sub-text{
    display: flex;
    flex-direction: column;
}
.footer{
    background-color:  #16697A;
}
.inner-footer{
    background-color: #252B42;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.social-links ul li{
    display: inline-block;
    padding: 10px;
}
.fa-square-facebook{
    color: #335BF5;
}
.fa-instagram{
    color: #E61F5A;
}
.fa-twitter{
    color: #21A6DF;
}
.fa-youtube{
    color: #E42F08;;
}
hr{
    border: 1px solid #364067;
}
.mid-footer-row{
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
}
.mid-footer-col{
    display: flex;
    flex-direction: column;
    width: 220px;
}
.mid-footer-col-head{
    padding: 10px 0px;
    color: white;
    font-size: 15px;
    line-height: 50px;
}
.mid-footer-col-list a{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    text-decoration: none;
}
.footer-inputs{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.mid-footer-col .footer-inputs input{
    width: 86px;
    height: 47px;
    border-radius: 0px;
}
.footer-inputs .form-btn{
    padding: 0px 0px;
    width: 70px;
    height: 49px;
    margin-top: 0px;
    border-radius: 0px;
}
.mid-footer-col h5{
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    padding: 0px 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header{
        height: 1040px;
    }
    .section-one{
        flex-direction: column;
    }
    .section-text h1{
        font-size: 45px;
        line-height: 50px;
    }
    .section-text{
        font-size: 50px;
        text-align: center;
    }
    .section-subtext{
        font-size: 15px;
        text-align: center;
    }
    .button1{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .section-two-head{
        font-size: 30px;
    }
    .card-row{
        flex-direction: column;
    }
    .heading{
        font-size: 25px;
        line-height: 40px;
    }
    .sec3-part-two{
        height: 300px;
    }
    video{
        height: 300px;
    }
    .head .sub-heading{
        font-size: 12px;
    }
    .section-six .container{
        align-items: center;
    }
    .section-contactus-form{
        align-items: center;
    }
    .form-inputs{
        flex-direction: column;
        padding: 15px 0px;
        gap: 20px;
        height: 100px;
    }
    textarea{
        width: 280px;
    }
    .section-six .form-btn{
        width: 280px;
    }
    .sub-content{
        flex-direction: column;
    }
    .sub-text{
        align-items: center;
    }
   .subcontainer h1{
    text-align: center;
   }

    .footer-top{
        flex-direction: column;
    }
    .mid-footer-row{
        flex-direction: column;
    }
    .outer-footer .mid-footer-col-head{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }
    .navlinks ul{
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width:768px) {
    
    nav{
        flex-direction: column;
    }
    .header{
        height: 1090px;
    }
    .heading{
        font-size: 36px;
        line-height: 40px;
    }
    .sub-heading{
        font-size: 12px;
        line-height: 20px;
    }

    .section-contactus-form{
        align-items: center;
    }
    .form-inputs{
        flex-direction: column;
        padding: 15px 0px;
        gap: 20px;
        height: 100px;
    }
    textarea{
        width: 280px;
    }
    .section-six .form-btn{
        width: 280px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    
    .header{
        height: 1080px;
    }
    .section-one{
        flex-direction: column;
    }
    .section-text{
        font-size: 61px;
    }
    .mid-footer-row{
        flex-wrap: wrap;
    }
    .subcontainer {
        margin: auto;
        width: 90%;
    }
    .heading{
        font-size: 32px;
    }
}
   
/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (max-width: 1227px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .subcontainer {
        margin: auto;
        width: 90%;
    }
    .mid-footer-row{
        flex-wrap: wrap;
    }
   
}
@media only screen and (max-width: 1122px) {
    .card-row{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1370px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .subcontainer{
        width: 90%;
        margin: auto;
    }
}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
