/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header{
    width: 100%; 
    height: 823px;
    padding-top: 30px;
    position:relative;
    background-image: url(/images/bgimage.png);
    background-size: cover;
}
.container{
    width: 75%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    text-align: right;
}
.navlinks ul li{
    display: inline-block;
    padding:20px
}
.navlinks ul li a{
    color: #737373;
    text-decoration: none;
    font-size: 16px;
}

/* -------section-one---- */
.section-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 5px solid magenta; */
    display: flex;
    height: 750px;
    /* gap: 120px; */
}
.section-one-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0px; */
    /* gap: 35px; */
    /* width: 600px; */
    height: 418px;
}

.section-text{
    font-size: 81px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.section-subtext{
    width: 539px;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #727275;
    margin-top: 35px; 
}


.button1{
    
    width: 354px;
    height: 48px;
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

.bt-one{
    width: 187px;
    height: 48px; 
    background: #00A0C1;
    border-radius: 37px;
    color: white;
    border-color: #00A0C1;
}
.bt-two{
    box-sizing: border-box;
    width: 175px;
    height: 48px;
    text-align: center;
    color: #00A0C1;
    background-color: transparent;
    border: 1px solid #00A0C1;
    border-radius: 37px;
}
.section-form{
    display: flex;
    width: 328px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
}

.form-head {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.1px;
    width: 243px;
    height: 45px;
    color: #252b42;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 15px;
}
.form-content label{
    font-size: 14px;
    width: 50px;
    height: 24px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #252B42;
}
input{
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    height: 30px;  
}
::placeholder{
    color: #BDBDBD;
}
select{
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    border-radius: 4px;
    height: 30px;
    width: 175px;
}
.form-btn{
    padding: 15px 40px;
    gap: 10px;
    width: 179px;
    height: 53px;
    background: #FFA62B;
    border-radius: 5px;
    border: #FFA62B;
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

.section-two-head {
    padding: 80px;
    text-align: center;
    font-size: 40px;
}

.section-subtext p{
    width:479px;
    height:80px;
    font-size: 14px;
    margin-left: 220px;
}

.card-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0px; */
    gap: 30px;
    height: 385px;
    /* border: 2px solid; */
    justify-content: space-between;
}

.card-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 328px;
    height: 385px;
    /* border: 2px solid magenta; */
}
.card-head{
    width:330px;
    height: 390px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    background: #D9EDFF;
}

.card-head i{
    color: #FFA62B;
    background: white;
    border-radius: 79px;
    padding: 30px;
    margin: 20px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 328px;
    height: 253px;
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
    border-radius: 11px;
}
h6{
    width: 191px;
    /* height: 48px; */
    /* font-family: 'Montserrat'; */
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0px 60px;
}
.card-content h6 a{
    color: #FFA62B;
    text-decoration: none;
}

.section-three{  
height: 840px;
background: #FAFAFA;
position: relative;

}

.section-three .head{
    text-align: center;
    padding: 80px;
    height: 300px;
}
.heading{
    text-align: center;
    /* width:637px; */
    font-size: 40px;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    /* padding-left: 170px; */
}
.head .sub-heading{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 20px 180px;
}
.sec3-part-two{
    position:absolute;
    height:378px;
    width: 75%;
    background-color: #252b42;
}
.video-image{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 700px;
    height: 400px;
    text-align: center;
    bottom: 147px;
    padding: 0px 220px
}
.section-four{
    height: 591px;
    background: #F3F3F3;
}
.section-four .heading{
    padding-top: 50px;
    text-align: center;
}
.section-four .sub-heading{
    padding: 10px 251px;
}
.section-four .card-row{
    justify-content: space-evenly;
}
.section-four .card-one{
    height:230px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}
.section-four .card-one i{
    color: #FFA62B; 
}
.section-four h6{
    width:225px;
    padding: 0;
    background-color: transparent;
    margin-top: 10px
}
.section-four img{
    padding: 10px;
    
}
.girl-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 265px;
    height: 50px;
}
.girl-icon span{
    color: #FFA62B;
}
h5{
    padding-left: 100px;
}
/* ------section-five--- */
.section-five{
    height:730px;
    background-color:#FFFFFF;
}
.section-five .head{
    padding:40px;
}
.section-five .card-one{
    width: 328px;
    height: 373px; 
    border: 1px solid #afdfec;
}

.team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 5px;
    width: 232px;
    height: 142px;
}
.team-content h6{
    text-align: center;
    font-size: 12px;
}
.team-content i{
    color: #00A0C1;
}
/* -----section-six------ */
.section-six{
    height: 823px;
    background: #FAFAFA;
    
}
.sec-six-one{
    height: 680px;
    /* border: solid yellow; */
    background-image: url("../images/sec-6_bg\(4\).png");
    background-size: cover;
}
.section-six .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
    height: 533px;
    /* border: solid; */
} 
.section-contactus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
    position: absolute;
    width: 590px;
    height: 416px;
    /* border: solid darkmagenta; */
}
.section-contactus h6{
    padding: 0px;
    color: #252B42;
}
.contactus-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 585px;
    height: 270px;
    /* border: solid green; */
}
.form-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 70px;
}
.form-inputs input{
    width: 275px;
    height: 40px;
}
.form-inputs select{
    width: 281px;
    height: 45px;
}
textarea{
    box-sizing: border-box;
    width: 583px;
    height: 123px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: #BDBDBD;

}
.section-six .form-btn{
    margin-top: 0px;
    padding: 20px 40px;
}
.subcontainer{
    margin: auto;
    width:75%;
}

.subcontainer .heading{
    text-align: start;
    font-size: 30px;
}
.subcontainer h6{
    padding: 0px 0px;
    width: 295px;
}
.sub-content{
    display: flex;
    flex-direction: row;
    gap: 360px;
    padding-top: 30px;
}
.sub-text{
    display: flex;
    flex-direction: column;
}